$font-family-sans-serif: 'Kanit',
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-display: 'Righteous',
serif;

// $input-placeholder-color: #C0C0C0;

/*
 * BOOTSTRAP OVERRIDES
*/
//color overrides
$dark: #3c3c3b;
$primary:#fced76;

$btn-font-family:'Righteous';



// $info: #A1BFD9;

// $danger: #D9A1A1;

// $warning:#FDFFC3;

// $success:#BCD9A1;


// $dark:#543747;


$border-color:#818181;

$breadcrumb-bg: transparent;
//form elements
$btn-border-radius:0;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$input-border-radius:3px;
$input-border-width:1px;
$input-border-color:$dark;



//nav
$navbar-nav-link-padding-x:1.5em;

//text
$line-height-base:1.625;
$headings-line-height: 1.2786885246;
$display-line-height: $headings-line-height;

$paragraph-margin-bottom:26px;
$headings-margin-bottom:26px;

$font-size-base:1.6rem;
$small-font-size:1.28rem;

$h1-font-size: 4.88rem;
$h2-font-size: 3.91rem;
$h3-font-size: 3.13rem;
$h4-font-size: 2.5rem;
$h5-font-size: 2rem;
$h6-font-size: 1.6rem;

$display1-size:7.63rem;
$display2-size:6.10rem;
$display3-size:4.88rem;
$display4-size:3.91rem;

//btn / input overrides
$custom-control-indicator-size:1.6rem;
$font-size-lg: 1.8rem;

// $input-btn-padding-y: 0.825rem;
// $input-btn-padding-x: 1.5rem;

// $input-btn-padding-y-lg:1.8rem;
// $input-btn-padding-x-lg:2.6rem;

// $input-padding-y:1rem;

$btn-font-weight: 700;



@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
